.multi-select > div > div > :nth-child(2) > span {
  background-color: transparent !important;
}

.multi-select > div > div {
  border-color: transparent !important;
}

.multi-select > div > div > :nth-child(1) > div > div {
  color: #fff;
  background-color: #4318ff ;
  height: 24px !important;
  border-radius: 50px 0px 0px 50px !important;
}

.multi-select > div > div > :nth-child(1) > div {
  background-color: transparent;
}

.multi-select > div > div > :nth-child(1) > div > :nth-child(2) {
  border-radius: 0px 50px 50px 0px !important;
  display: inline-flex !important;
  padding: 1px 2px 1px 2px !important;
  justify-content: center !important;
  align-items: center !important;
}

.multi-select > div > div > :nth-child(1) > :nth-child(1) {
  background-color: white !important;
  display: flex !important;
  justify-content: space-between !important;
  justify-items: center !important;
  align-items: center !important;
}

.multi-select > div > div > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  color: #fff;
  text-align: center;
  align-items: center;
  width: 100% !important;
}
