@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis'),
    url('../assets/fonts/Metropolis-Regular.otf') format('opentype');
}

* {
  font-family: Metropolis, Arial, Helvetica, sans-serif;
}

/* Tiny scrollbar styles */
.tiny-scrollbar::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}

.tiny-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4f46e5;
  border-radius: 8px;
}

.tiny-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b63e5;
}

.tiny-scrollbar::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

/* Firefox scrollbar styles */
.tiny-scrollbar {
  scrollbar-color: #4f46e5 #f1f1f1;
  scrollbar-width: thin;
}

/* Optional: hover style for Firefox */
.tiny-scrollbar:hover {
  scrollbar-color: #6b63e5 #f1f1f1;
}

/*Hide default calendar icon*/
input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.date-picker-placeholder::placeholder {
  color: #b9c1d9 !important;
  font-size: 14px !important;
}

.ReactModalPortal {
  position: absolute;
  z-index: 102;
}

.ReactModalPortal > div > div > div {
  animation: zoom-in 0.5s ease;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  border: 1px solid var(--Gray-200, #eaecf0);
  background: var(--Base-White, #fff);
}

.ReactModalPortal > div > div {
  background-color: transparent;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}
